//
//  ISHPermissionKitFlags.xcconfig
//  ISHPermissionKit
//
//  Created by Hagi on 04/10/16.
//  Copyright © 2016 iosphere GmbH. All rights reserved.
//

// This hook allows users of the framework to provide build flags without modifying any files within the ISHPermissionKit repository. See README.md for instructions.
#include? "../../ISHPermissionKitFlags.xcconfig"
