<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${ISH_BUNDLE_VERSION_SHORT}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${ISH_BUNDLE_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Explain why you use the music library</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Explain why you use the calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Explain why you use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Explain why you use contacts</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Explain why you read heart rates</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Explain why you write heart rates</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Explain why you use the location (always)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Explain why you use the calendar (when in use)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Explain why you use the microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Explain why you use motion data</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Explain why you use the photo library</string>
	<key>NSRemindersUsageDescription</key>
	<string>Explain why you use reminders</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Explain why you use speech recognition</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
